<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mgy.official.account.core.dao.FollowInfoMapper">
    <!--    id 接口中方法的名字 resultType返回值的类型  集合对象 可以省略集合-->
    <select id="selectRankingList" resultType="com.mgy.official.account.core.model.RankingItem">
SELECT
  users.nick_name as nickName,
  count(*) AS count
FROM
  t_user AS users
  JOIN t_follow_info AS follow
WHERE
  users.open_id = follow.open_id
GROUP BY
  users.nick_name
ORDER BY
  count DESC;
</select>
</mapper>